@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Virtual</h1>
    <p>
        O elemento HTML representa um parágrafo. Em mídias visuais,
        parágrafos são representados como blocos indentados de texto
        com a primeira letra avançada e separados por linhas em branco.
        Já em HTML, parágrafos são usados para agrupar conteúdos
        relacionados de qualquer tipo, como imagens e campos de um formulário.
    </p>
</div>

